apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app.kubernetes.io/component: controller
    app.kubernetes.io/instance: default
    app.kubernetes.io/name: controller
    app.kubernetes.io/part-of: tekton-pipelines
    app.kubernetes.io/version: v0.32.4
      {{- with .Values.controller.deployment.labels }}
        {{- toYaml . | nindent 4 }}
      {{- end}}
    pipeline.tekton.dev/release: v0.32.4
    version: v0.32.4
  name: tekton-pipelines-controller
  namespace: tekton-pipelines
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/component: controller
      app.kubernetes.io/instance: default
      app.kubernetes.io/name: controller
      app.kubernetes.io/part-of: tekton-pipelines
  template:
    metadata:
      annotations:
        fake: value
          {{- with .Values.controller.pod.annotations }}
            {{- toYaml . | nindent 8 }}
          {{- end}}
      labels:
        app: tekton-pipelines-controller
        app.kubernetes.io/component: controller
        app.kubernetes.io/instance: default
        app.kubernetes.io/name: controller
        app.kubernetes.io/part-of: tekton-pipelines
        app.kubernetes.io/version: v0.32.4
          {{- with .Values.controller.pod.labels }}
            {{- toYaml . | nindent 8 }}
          {{- end}}
        pipeline.tekton.dev/release: v0.32.4
        version: v0.32.4
    spec:
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
              - key: kubernetes.io/os
                operator: NotIn
                values:
                - windows
      containers:
      - args:
        - -kubeconfig-writer-image
        - {{ template "default_registry" . }}tekton-releases/github.com/tektoncd/pipeline/cmd/kubeconfigwriter:v0.32.4@sha256:f0502a38ac30516eaa524fc29f672b269957ecbdce9eda5eb7cea71cd80ec38f
        - -git-image
        - {{ template "default_registry" . }}tekton-releases/github.com/tektoncd/pipeline/cmd/git-init:v0.32.4@sha256:76f52c9b19f2edf65765f2ecf9c9225e02678207c9519234f419bc47651c34ff
        - -entrypoint-image
        - {{ template "default_registry" . }}tekton-releases/github.com/tektoncd/pipeline/cmd/entrypoint:v0.32.4@sha256:9a9940b41d140b023e7ea7a445bb071939b7dcd19ccd4444d901e1cade537d92
        - -nop-image
        - {{ template "default_registry" . }}tekton-releases/github.com/tektoncd/pipeline/cmd/nop:v0.32.4@sha256:4e6f2a8b8872d01c0abbe62ec0026181361f93e94e6a3613fab9ddbfd7edb1ed
        - -imagedigest-exporter-image
        - {{ template "default_registry" . }}tekton-releases/github.com/tektoncd/pipeline/cmd/imagedigestexporter:v0.32.4@sha256:81188b0d22574161cb040742105ba9a35b3f8dcf72d32bf50cf2b139ef234f55
        - -pr-image
        - {{ template "default_registry" . }}tekton-releases/github.com/tektoncd/pipeline/cmd/pullrequest-init:v0.32.4@sha256:6978e7f8b1ee43b79b7180e41a43f2c9b8c92503424f008c0592a69fa3c38ce7
        - -gsutil-image
        - {{ template "default_registry" . }}google.com/cloudsdktool/cloud-sdk@sha256:27b2c22bf259d9bc1a291e99c63791ba0c27a04d2db0a43241ba0f1f20f4067f
        - -shell-image
        - {{ template "default_registry" . }}distroless/base@sha256:cfdc553400d41b47fd231b028403469811fcdbc0e69d66ea8030c5a0b5fbac2b
        - -shell-image-win
        - mcr.microsoft.com/powershell:nanoserver@sha256:b6d5ff841b78bdf2dfed7550000fd4f3437385b8fa686ec0f010be24777654d6
        env:
        - name: SYSTEM_NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
        - name: AWS_ACCESS_KEY_ID
          value: foobarbaz
        - name: AWS_SECRET_ACCESS_KEY
          value: foobarbaz
        - name: AWS_DEFAULT_REGION
          value: foobarbaz
        - name: CONFIG_DEFAULTS_NAME
          value: config-defaults
        - name: CONFIG_LOGGING_NAME
          value: config-logging
        - name: CONFIG_OBSERVABILITY_NAME
          value: config-observability
        - name: CONFIG_ARTIFACT_BUCKET_NAME
          value: config-artifact-bucket
        - name: CONFIG_ARTIFACT_PVC_NAME
          value: config-artifact-pvc
        - name: CONFIG_FEATURE_FLAGS_NAME
          value: feature-flags
        - name: CONFIG_LEADERELECTION_NAME
          value: config-leader-election
        - name: SSL_CERT_FILE
          value: /etc/config-registry-cert/cert
        - name: SSL_CERT_DIR
          value: /etc/ssl/certs
        - name: METRICS_DOMAIN
          value: tekton.dev/pipeline
        envFrom:
        - secretRef:
            name: '{{ .Values.controller.envFromSecret }}'
            optional: true
        image: {{ template "default_registry" . }}tekton-releases/github.com/tektoncd/pipeline/cmd/controller:v0.32.4@sha256:e383f3e6f65e45fd55d954ef1a6aab4ace5f930eac3949c298e28e0275d3b3e0
        livenessProbe:
          httpGet:
            path: /health
            port: probes
            scheme: HTTP
          initialDelaySeconds: 5
          periodSeconds: 10
          timeoutSeconds: 5
        name: tekton-pipelines-controller
        ports:
        - containerPort: 9090
          name: metrics
        - containerPort: 8008
          name: profiling
        - containerPort: 8080
          name: probes
        readinessProbe:
          httpGet:
            path: /readiness
            port: probes
            scheme: HTTP
          initialDelaySeconds: 5
          periodSeconds: 10
          timeoutSeconds: 5
        securityContext:
          allowPrivilegeEscalation: false
          capabilities:
            drop:
            - all
          runAsGroup: 65532
          runAsUser: 65532
        volumeMounts:
        - mountPath: /etc/config-logging
          name: config-logging
        - mountPath: /etc/config-registry-cert
          name: config-registry-cert
      serviceAccountName: tekton-pipelines-controller
      volumes:
      - configMap:
          name: config-logging
        name: config-logging
      - configMap:
          name: config-registry-cert
        name: config-registry-cert