auth:
  git:
    username: "admin"
    password: ""
    url: https://github.com
  docker:
    # if specified use the docker config.json style secret like this:
    # https://github.com/tektoncd/pipeline/blob/master/docs/auth.md#configuring-docker-authentication-for-docker
    configJson: ""

serviceaccount:
  enabled: true
  annotations: {}

controller:
  deployment:
    labels: {}
  pod:
    labels: {}

webhook:
  deployment:
    labels: {}
  pod:
    labels: {}
