name: Helm Publish

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Check source code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Get Chart.yaml version change
        id: check-change
        run: |
          if git diff --name-only -r HEAD^1 HEAD | grep charts/tekton-pipeline/Chart.yaml; then
            echo "changed_version=$(git diff --name-only -r HEAD^1 HEAD | grep charts/tekton-pipeline/Chart.yaml)"
          else
            exit 1
          fi

      # Publish chart to GitHub Pages
      - name: Publish chart to GitHub Pages
        uses: J12934/helm-gh-pages-action@master
        with:
          access-token: ${{ secrets.ACCESS_TOKEN }}
          charts-folder: "charts"
          deploy-branch: "gh-pages"

      # Publish OCI-based chart to GitHub Container Registry
      - name: Install Helm
        uses: azure/setup-helm@v4.3.0
        with:
          version: v3.19.1

      - name: Login to GHCR
        run: |
          echo ${{ secrets.GITHUB_TOKEN }} | helm registry login ghcr.io -u ${{ github.actor }} --password-stdin

      - name: Package and publish chart to GHCR
        run: |
          helm package charts/tekton-pipeline
          helm push tekton-pipeline-*.tgz oci://ghcr.io/${{ github.repository_owner }}/charts
